machine_learning/dot_data
machine_learning/OldFaithfulgeyser.txt
machine_learning/PracticalWeek2-2.ipynb
machine_learning/PracticalWeek3.ipynb
machine_learning/practical_week_1.ipynb
machine_learning/PracticalWeek4(2).ipynb
molecular_simulation/.DS_Store
.DS_Store
